.popup__set {
    font-family: 'Inter', Arial, sans-serif;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 0;
	margin: auto;
    outline: none;
    box-sizing: border-box;
    border: 0;
}