.element__name {
	margin: 25px auto 25px 21px;
	min-height: 29px;
	font-style: normal;
	font-weight: 900;
	font-size: 24px;
	line-height: 29px;
	-o-text-overflow: ellipsis;
	   text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}