.element__like {
	outline: none;
	padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
	margin-left: auto;
	padding-bottom: -1px;
	width: 22px;
	height: 19px;
	background-image: url(../../../images/like.svg);
	background-size: contain;
	cursor: pointer;
	background-repeat: no-repeat;
	-webkit-transition: 0.15s;
	-o-transition: 0.15s;
	transition: 0.15s;
}

.element__like:hover {
	opacity: 0.5;
}